<%= form_for(all_subject_role) do |f| %>
  <% if all_subject_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(all_subject_role.errors.count, "error") %> prohibited this all_subject_role from being saved:</h2>

      <ul>
      <% all_subject_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_id %>
    <%= f.number_field :subject_id %>
  </div>

  <div class="field">
    <%= f.label :subject_role_id %>
    <%= f.number_field :subject_role_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
