<span id="notice"><%= notice %></span>

<h4>Novi korisnik</h4>
<br>

<br><br>
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
    </div>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
 <div class="col-md-6">

    <div class="form-group row">
     
      <%= f.label :ime, :class => "col-xs-3 col-form-label"%>
      <div class="col-xs-9">
        <%= f.text_field :first_name, :class => "form-control"%>
      </div>
      
    </div>

    <div class="form-group row">
     
      <%= f.label :prezime, :class => "col-xs-3 col-form-label"%>
      <div class="col-xs-9">
        <%= f.text_field :last_name, :class => "form-control"%>
      </div>
      
    </div>

    <div class="form-group row">
     
      <%= f.label :email, :class => "col-xs-3 col-form-label"%>
      <div class="col-xs-9">
        <%= f.email_field :email, :class => "form-control"%>
      </div>
      
    </div>

    <div class="form-group row">
     
      <%= f.label :korisničko_ime, :class => "col-xs-3 col-form-label"%>
      <div class="col-xs-9">
        <%= f.text_field :username, :class => "form-control"%>
      </div>
      
    </div>
    
    <div class="field row">
      <%= f.label :role, 'Uloga u sistemu', :class => "col-xs-3 col-form-label" %>
      <div class="col-xs-9">
        <%= f.collection_select :role, Role.all, :id, :name, {}, { :class => 'span3 controls controls-row form-control'} %>
      </div>
    </div>

          <!--= f.select :role, @roles.map { |role| [ role.name, role.id ] }, {}, { :class => 'span3 controls controls-row form-control' } %> -->

  <div class="form-group row">
    <%= f.label :password, 'Šifra', :class => "col-xs-3 col-form-label" %>
    <div class="col-xs-9">
      <%= f.password_field :password, :class => 'span3 controls controls-row form-control' %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :password_confirmation, "Potvrda šifre", :class => "col-xs-3 col-form-label" %>
    <div class="col-xs-9">
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
  </div>

  <div class="actions row">
    <div class="col-xs-3 col-form-label"></div>
    <div class="col-xs-9">
      <%= f.submit 'Kreiraj korisnika', :class => 'btn btn-primary' %> 
    </div>
    </div>
  </div>

  <div class="col-md-6">
  </div>

 <% end %>
