<span id="notice" style="margin-left:0px;"><%= notice %></span>

<h4>Korisnici</h4>
<br>
<%= button_to 'Kreiraj novog korisnika', new_user_path, class: 'btn btn-default', :method => :get %>

<br><br>
<table class="table">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Email</th>
      <th>Korisničko ime</th>
      <th>Uloga</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.role.first.name %></td>
        <td><%= link_to 'Uredi', edit_user_path(user) %></td>
        <td><%= link_to 'Obriši', user, method: :delete, data: { confirm: 'Da li ste sigurni?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

