<p id="notice"><%= notice %></p>

<span>
  <strong>Ime i prezime:</strong>
  <%= @user.first_name %> <%= @user.last_name %> 
</span>
<br>
<span>
  <strong>Email:</strong>
  <%= @user.email %>
</span>
<br>
<span>
  <strong>Username:</strong>
  <%= @user.username %>
</span>
<br>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
