<br>
<span id="notice" style="margin-left:0px;"><%= notice %></span>

<div class="row">
<%= button_to 'Unesi novog nastavnika', new_teacher_path, class: 'btn btn-primary', :method => :get %>
<br><br><br>
<table class="table">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Titula</th>
      <th>Pozicija</th>
      <th>Datum izbora</th>
      <th>Izborni period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.title %></td>
        <td><%= teacher.position %></td>
        <td><%= teacher.election_date %></td>
        <td><%= teacher.election_period %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Da li ste sigurni?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
