<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teacher.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @teacher.position %>
</p>

<p>
  <strong>Election date:</strong>
  <%= @teacher.election_date %>
</p>

<p>
  <strong>Election period:</strong>
  <%= @teacher.election_period %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
