<!DOCTYPE html>
<html>
  <head>
    <title>Nastavni ansambl</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>


  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to homePage_ensembles_path do %>
          <%= image_tag("etf-50x50.png", :alt => "etf_image") %>
        <% end %>
        <% id = AcademicYear.get_current_academic_year %>
        <!-- <span style:"float: right; text-align:right;"> Aktualna akademska godina: <= AcademicYear.find(id).name %> -->
      </div>
    </header>
    <br>

  <% if document_rendering? %>
      
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-1"></div>
      </div>
      </body>
  
  <% else %>


<div class="container">
	<div class="row">

  <% if logged_in? %>

  <% if @
  
	  <div class="sidebar col-md-2">
	  	<nav>
	  		<%= link_to "Nastavni ansambl", new_ensemble_path, :class => "sidebar_item" %><br>
	        <%= link_to "Nastavnici",   teachers_path, :class => "sidebar_item" %><br>
	        <%= link_to "Predmeti",   subjects_path, :class => "sidebar_item" %><br>
	        <%= link_to "Dokumenti", documents_ensembles_path, :class => "sidebar_item"%><br>
          <%= link_to "Broj studenata", student_numbers_path, :class => "sidebar_item"%><br>
          <br>
          <br>
          <%= link_to "Korisnici",  users_path, :class => "sidebar_item" %><br>
          <%= link_to "Uloge",  roles_path, :class => "sidebar_item" %><br>
          <%= link_to "Privilegije",  role_privileges_path, :class => "sidebar_item" %><br>
	    </nav>
      <br>
      <br>

    ` <%= button_to 'Nova akademska godina', startNewAcademicYear_academic_years_path, class: 'btn btn-default', :method => :get %>
	  </div>


	  <div class="col-md-10 border_left">
	  	<div class="row">
	  		<div class="col-md-10"></div>
  	  		<div class="user_info col-md-2">
  	  			<%= image_tag("user.png", :alt => "user_image") %>
  	  			<%= @current_user.first_name %> <%= @current_user.last_name %> <br>
            <%= link_to "Odjava", logout_path, method: "delete", :style => "float: right; text-align: right;" %>
            <%= link_to "Promjena šifre  *", passwordChange_users_path, method: "get", :style => "float: right; text-align: right;  padding-right: 5px;" %>
            
  	  		</div>
	  	  </div>
	  	
      <div class="row">
	  		<div class="col-md-12">
	  			<%= yield %>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>
  
	<%else%>

    <div class="sidebar col-md-6"></div>
    
    <div class="col-md-6">
      <div class="row"></div> 
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <br><br>
    
  <% end %>
 
  </body>

<%end%>
</html>
